<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body id="page-top">
    <div class="alert alert-success" role="alert">
      <h4>Please read this to operate:<br>
        1. Click on the first link to upload vendor's data.<br>
        2. Then click on second link to see that data.<br>
    </div>
    <div class="jumbotron vertical-center">
        <div class="container">
            <h3><a href="upload_vendor_data/">1. Click Here to upload vendor's data</a></h3>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible show" role="alert" style="width: 30%;text-align: center;margin-left: 30%">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
    {% endif %}

    <div class="jumbotron vertical-center">
        <div class="container">
            <h3><a href="/see_vendor_data">2. Click Here to see uploaded vendor's data if you have already uploaded</a></h3>
        </div>
    </div>
</body>

</html>
